
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_BlankPage.cshtml";
}

<div class="container">
    <div class="row justify-content-center" style="height:400px;">
        <div class="align-self-center">
            <i class="fas fa-fw fa-user-slash fa-9x "></i>
        </div>



    </div>
    <div class="row justify-content-center pt-4">
        <div>
            <h1>403, ACCESS FORBIDDEN</h1>
        </div>


    </div>
    
</div>